/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed&display=swap');

:root{
    /* text colors */
    --text-gray : #808291;
    --text-white: #ffffff;
    --text-light: #f6f6f6;
    --text-dark : #1A3260;
    --text-dark2 : #1A3760D4;
    --text-red : #ff4d6d;
    --text-orange: #ff7d0b;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow:rgb(255, 255, 246);
    --bg-purple: rgb(246, 255, 255);
    --bg-ornage: hwb(28 4% 0% / 0.977);
    --bg-green: hwb(135 4% 50% / 0.977);

    /* font familiy */
    --font-poppins : "Poppins", 'sans-serif';

    /* gradient colors */
    --bg-gradient : linear-gradient(to right, #ff7d0b, #e1301c); 
    --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);
    --bg-gradient-ornage: linear-gradient(toright, #ff7d0b, #ffa20b);

    /* images */
    --bg-hero-sm: url('./images/IMG_3342-p-800.jpeg');
    --bg-hero-l: url('./images/IMG_3342-p-1600.jpeg');
    --bg-features: url('./images/stars_nobg.png')
}


* > *{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body{
    /* height: 100%; */
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1.5px;
  }
  



/* img,
picture,
svg{
    max-width: 100%;
    display: block;
} */

/* ------------------- Utility Classes -------------------------- */

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-initial{
    flex: 0 1 auto;
}

.flex-grow{
    flex-grow: 1;
}

.justify-center{
    justify-content: center;
}
.flex-align-center{
    align-items: center;
}

.text-white{
    color: var(--text-white);
}
.text-dard{
    color: var(--text-dark);
}
.text-orange{
    color: var(--text-orange)
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: 1em;
    line-height: 1.5em;
}

.text-md{
    font-size: 1.5em;
}

.text-lg{
    font-size: 2.2em;
    line-height: 3rem;
}

.text-xl{
    font-size: 3em;
}

.text-2xl{
    font-size: 5em;
}
.text-bold{
    font-weight:600;
    /* font-size: 1rem; */
    letter-spacing: 0.1em;
}

.bg-gradient{
    background: var(--bg-gradient);
}

.container{
    width:100%;
    margin: auto;
}
.container-fluid{
    width:100%;
    margin: auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.py-1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-10{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.px-2{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
.px-5{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-10{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.link{
    color: var(--text-dark2);
    font-weight: bold;
}

.grid{
    display: grid;
}

.cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 10px;
}

.w-100{
    width: 100%;
}

/* .link{
    color: var(--text-orange);
    font-weight: bold;
}

.link:hover{
    color: var(--text-red);
} */

.btn{
    border: none;
    cursor: pointer;
    background-color: transparent;

}
.btn-primary{
    background-color: var(--bg-ornage);
    padding: .7rem 2rem;
    border-radius: 50px;
    font-weight: bold;
}
.btn-shadow{
    box-shadow: var(--box-shadow);
}

.btn-primary:hover{
    background: var(--bg-ornage);
}



/* ------------------ Navigation ---------------------------- */

#navigation {
    width: 100%;
}

.navbar{
    width: 95%;
    margin: auto;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: var(--text-orange);
    flex-wrap: wrap;
  
}
.navbar-logo{
    flex: 1;
}
.logo{
    width: 100px;
    margin: auto;
}
.navbar li{
    list-style-type: none;
    padding: 0.5rem;
}
.navbar a{
    text-decoration: none;
    color: var(--text-orange);
    text-transform: uppercase;
    /* font-weight: bold; */
}
.navbar-toggle{
    display: block;
    font-size: 2rem;
    font-weight: bold;

}
.navbar-links{
    display: none;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
}
.navbar a:hover{
    color: #ff4d6d;
    font-weight: 500;
}
.active{
    display: block; 
}
/* ------------------/ Navigation ---------------------------- */
/* -------------------------- Hero Section ------------------ */
.hero{
    background: var(--bg-hero-sm) no-repeat;
    background-size: cover;
    background-position: right;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items:end;
}
.hero-text{
    padding: 5px 20px;
    background: hsla(0, 0%, 32%, 0.59);
 
}

.hero-text h1{
    padding-bottom: 5px; 
    line-height: 2.5rem;
    font-size: 1.8rem;
} 
.hero-text p{
    padding-top: 5px;
    padding-bottom: 15px;
    letter-spacing: 1.2px;
}
/* ----------------------- /Hero Section  ----------------------------*/

/* ------------------------ Features -------------------------------- */

#features{
    padding: 2em 1em;
    /* background: #0a1ca1; */
    background: #fcfcfc;
}

#features .grid{
    grid-gap: 2em;
}

.feature{
    padding: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    border-radius: 10px;
    /* margin: 5px 5px; */
}
.feature img{
    width: 50px;
    margin:auto;
    
}
/* ------------------------ / Features -------------------------------- */
/* ------------------------  Services -------------------------------- */
#services{
    padding: 2em 0em;
}
#services .grid{
    grid-gap: 5em;
}
.service{
    background-color: #333333;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}

.service-img-container{
    position:relative;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.service img{
    width: 100%;
    
}
.service-name{
    padding-left: 20px;
    color:#fcfcfc;
}
.service-description {
    color:#e6e5e5;
    padding: 10px 20px 20px 20px;
    line-height: 30px;
}
/* ------------------------  /Services -------------------------------- */
/* ------------------------  Location -------------------------------- */
#location{
    text-align: center;
}
#location iframe{
    width: 100%;
}

.Location-address{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items:center;
    justify-content:center;
    flex-wrap: nowrap;
    
}
address{
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
}
address a{
    color:rgb(246, 255, 255)
}

/* ------------------------  /Location -------------------------------- */

/* -------------------------footer -------------------------------------*/
footer p{
    color: var(--text-gray);
    background: var(--bg-ornage);
    text-align: center;

}
/* -------------------------footer -------------------------------------*/

/* ------------------- Media Query ------------------------ */
/* for large screen sm (640px) */
@media (min-width: 640px) {
    .container{
        width:90%;
        margin: auto;
    }
    .nav-brand{
        width: 150px;
        height: auto;
        padding:5px 5px;
    }
   
}

/* for large screen md (768px) */
@media (min-width: 768px) {
    .container{
        width: 80%;
        margin: auto;
    }
    .navbar{
        width: 85%;
        margin: auto;
    }
    .navbar-logo{
        flex: 1;
        width: 100px;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content:right;
        flex-wrap: nowrap;
    }
    .navbar-toggle{
        display: none;
    }
    .navbar-links{
      display: block;
      text-align:right;
      
    }
    .hero{
        background: var(--bg-hero-l) no-repeat; 
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 10px;
    }
    .md-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 30px;
    }

    .md-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 25px;
    }

    .md-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 15px;
    }
    /* #nav .flex-initial ul button{
        display: inline-block !important;
    } */

}

/* for large screen lg (1024px) */
@media (min-width: 1024px) {
    .lg-text-center{
        text-align: center;
    }
    
    .px-lg-5{
        padding-left: 20px;
        padding-right: 20px;
    }
    h1, .h1 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 1.5px;
      }
    
    h2, .h2 {
      /* font-size: calc(1.255rem + 0.06vw); */
      font-size: 2rem
    }
    
    h3, .h3 {
      font-size: 1.2rem;
    }
    
    h4, .h4 {
      font-size: 1.1rem;
    }
    
    h5, .h5 {
      font-size: 1rem;
    }
    
    h6, .h6 {
      font-size: 0.95rem;
    }
    
    .container{
        width: 85%;
        margin: auto;
    }
    #nav{
        flex-direction: row !important;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    .nav-bar li{
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
    }  
    .toggle-btn > button{
        display: none;
    }
    .collapse{
        max-width: initial !important;
    }
    .collapse ul{
        flex-direction: row !important;
    }
     .active{
        max-height: 100% !important;
    }
    .flex-initial ul button{
        display: inline-block !important;
    }

    /* Hero */
    .hero-text{
        padding: 20px 20px;
        background: hsla(0, 0%, 32%, 0.79);
        border-radius: 10px;
        width:51%;
    }
    .hero-text p{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* ------------------------------- Service Section ----------------------------------- */
    .service img{
        width: 100%;
        /* border-radius: 15px; */
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .lg-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 30px;
    }

    .lg-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 25px;
    }

    .lg-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 15px;
    }


}

/* for large screen xl (1280px) */
@media (min-width: 1280px) {
    .container{
        max-width: 90%;
        margin: auto;
    }

     
}

/* ------------------- /Media Query ------------------------ */
